*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Josefin Sans', sans-serif;;
}

main, header{
    padding: 1rem;
}

img{
    /*default all images are 100% of their container*/
    width:100%;
}

.section-title 
{
    text-align: center;
    margin: 2rem auto;
    font-family: 'Rancho', cursiv;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: lighter;
}

.section-title span{
    display: block;
    color: #E76F51;
    margin-top: 0.5rem;
}

.btn{
    background-color: #2A9D8F;
    column-rule-color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
}

/*header style start*/
header nav ul li{
    display: none;
}

#logo{
    display: inline;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Rancho', cursiv;
}

#burger-menu{
    display: inline;
    float: right;
    font-size: 1.6rem;
}


.hero-info h1{ 
    font-weight: lighter;
    font-size: 3.5rem;
    color: rgb(50, 50, 50);
    margin: 3rem 0;
}

.vegana{
    color: #2A9D8F;
}

#hero-buttons{
    display: flex;
    justify-content: space-around;
}

#hero-buttons :first-child{
    background-color: #E76F51;

    color: white;
    padding:0.5rem 1.5rem;
    box-shadow: 5px 5px 15px #E76F51ec;
    border-radius: 5px;
    border:none;
    margin-right: 15% ;
}

#hero-buttons :last-child{

    border: none;
    background-color: white;
    font-size: 1rem;
}

.hero-info img{
    margin: 3rem 0;
}

/*Specialities Style Start*/
.speciality-category{
    color: #E76F51;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    position: relative;   
}
.speciality-category::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    border-bottom: 1px solid black;
}
.speciality-description{
    font-size: 1.1rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}
.speciality-title{
    font-size: 2.6rem;
    display:block;
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.speciality-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    border-bottom: 1px solid black;
}
.price{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    
}

.speciality-img{
    box-shadow: 5px 5px 15px rgba(200,200,200,0.8);

    
}

/*Specialities Style End*/






@media screen and (min-width:725px) {
    body{
        max-width: 960px;
        margin: 0 auto;
    }    

    main{
        padding: 0;
    }
    header nav ul{
        display:flex;
        justify-content: space-between;
        align-items: baseline;
    }

    header nav ul li{
        display:inline;
        font-size: 1.2rem;
    }

    #burger-menu{
        display: none;
    }

    .hero{
        display: flex;
        padding: 1rem;
    }

    .hero-info{
        padding: 1rem;

    }

    .hero-info-block{
        display: block;
    }

    #hero-buttons{
        justify-content: flex-start;
    }

    #hero-image{
        /*pixel is useful for styling if you do not want it to grow bigger*/
        width: 375px; 
    }


    .specialities{
        padding: 2rem;
        background-color: #EFEFef;
    }

    .speciality-item{
        display: flex;
        align-items: center;
        gap: 4rem;
        margin-bottom: 2rem;
    }

    .speciality-image{
        width: 375px;
    }

    .price{
        flex-direction: column;
        align-items: flex-start;
    }

    .price span{
        margin-bottom: 1rem;
    }

    .speciality-item:last-child .speciality-img{
        order: 1;       
    }

    .speciality-item:last-child .speciality-info{
        order: 2;       
    }
}