/* Write your CSS here - remember to add Id's or classes to the HTML file */

.top-level{
    width: 850px;
    margin: auto;
}

h1{
    color: white;
    font-family: "Segoe UI", Verdana, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image:url(img/Records.jpg);
}

h2{
    color: white;
    font-family: "Segoe UI", Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h3{
    color: white;
    font-family: "Segoe UI", Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
  
}


#selection{
    background-color: #ef8354;
}

#selling{
    background-color: #0e7c7b;
}

img{
    width: 500px;
}

.text{
    color: white;
    font-family: "Segoe UI", Verdana, sans-serif;
    font-size: 16px;
}

.text-center{
    color: white;
    font-family: "Segoe UI", Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}


#bold{
    font-weight: bold;
}

#live{
    background-color: #c83fb6;
}


body{
    background-color: black;
}

a:link{
    color: ef8354;;
}

a:visited{
    color:#0e7c7b
}

a:hover{
    color: #9c528b;
}

a:active{
    color: white;
}