body{
    font-family: 'Lato', sans-serif;
}

    *{
    box-sizing:border-box;
    }

    body{
        background-color: #274471;
    }

    .container{
        background-color: rgb(243, 243, 243);
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #contactForm{
        padding: 25px;
    }

    input{
        width: 100%;
        padding: 10px 16px;
        margin: 8px 0px;
        border-radius: 1px;
        
        
    }

    textarea{
        width: 100%;
        padding: 10px 16px;
        margin: 8px 0px;
        border-radius: 1px;
    }

    input:hover{
        background-color: rgb(190, 236, 233);
    }

    #submit{
        background-color: #1ac0f3;
        padding: 14px 20px;
        cursor: pointer;
        color: white;
    }



