*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search{
    display: inline-block;
}

